body {
    background-color: #4A90E2 !important;
}

.top {
    /*background-color: red;*/
    margin: 90px 0px;
}

.shape {
    height: 80px;
    background-color: white;

}

#square {
    width: 50px;
    float: left;
}

#circle {
    width: 80px;
    border-radius: 100px;
    margin-left: 60px;
}

.middle {
    /*background-color: yellow;*/
    margin-bottom: 90px;
}
.bottom {
    /*background-color: green;*/
}

.middle h1 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 3.5em;
    color: white;
}

.bottom h2 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.bottom p {
    font-family: Nunito;
    font-weight: 300;
    font-size: 1em;
    line-height: 0.5;
    color: white;
}

.bottom a {
    font-family: Nunito;
    font-weight: 300;
    font-size: 1em;
    line-height: 0.5;
    color: white;
    text-decoration: none;
}

.bottom a:hover {
    font-family: Nunito;
    font-weight: 300;
    font-size: 1em;
    line-height: 0.5;
    color: white;
    text-decoration: none;
}

.huma {
    width: 100px;
    height: 100px;
    background-color: #4A90E2;
    float: right;
}
