
.logoContainer {
    background-color: green;
    height: 100px;
    width: 100%;
    margin-top: 40px;
}

.shape {
    border: 8px solid;
    height: 80px;
    margin-top: 50px;
}

#square {
    width: 60px;
    border-color: #4A90E2;
    background-color: white;
    margin-left: 5%;
    float: left;
}

#circle {
    border-radius: 50%;
    width: 80px;
    border-color: #9013FE;
    background-color: white;
    margin-left: 1%;
    margin-bottom: 80px;
    /*float: left;*/
}

.jumbotron {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #4A90E2;
}

.col-sm-12 h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #4A90E2;
}

a {
    text-decoration: none;
    color: black;
}



/*.container {
    width: 100%;
}




h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #4A90E2;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 125%;
    color: #4A90E2;
}


.headline {
    width: 60%;
    margin-left: 5%;
    margin-bottom: 80px;
    line-height: 0.9;
    clear: both;
}

.contact {
    width: 40%;
    margin-top: 30px;
    margin-left: 5%;
    line-height: 1;
}


a {
    text-decoration: none;
    color: #4A90E2;
}



*/