.container {
	width: 90% !important;
}

/*ABOVE THE FOLD*/

.logo {
	border: 4px solid #393E41;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	margin-top: 40px;
	border-radius: 5px;
	width: 200px;
}

.logo h6 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 2em;
    color: #393E41;
    line-height: 0.5;
    padding: 0px;
    margin: 0px;

}

#bottomLogo {
	margin-top: 12px;
}

.wrapper {
	padding: 0px;
	width: 90%;
	margin: 0 auto;
}

.valueProp {
	width: 95%;
	margin-top: 75px;
}

.valueProp h1 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 5em;
    color: #393E41;
    line-height: 0.9;
}

.formField {
	padding: 15px;
	font-family: Nunito;
	font-weight: 400;
	width: 25%;
	border-radius: 2px;
	border: 1px solid #D8D8D8; 
}

form {
	margin: 0 auto;
	background-color: red;
	width: 80%;
}

button {
	font-family: Nunito !important;
	font-weight: 700 !important;
	font-size: 1.5em !important;
}


.CTA {
	/*border: 2px solid #4A90E2;*/
	border-radius: 2px;
	border: none;
	width: 250px;
	/*margin-top: 10px;*/
	/*padding: 15px;*/
	height: 50px;
	padding-top: 1px;
	padding-bottom: 1px; 
	background-color: #4A90E2; 
	text-decoration: none;
}
/*
.CTA h3 {
	text-decoration: none;
	font-family: Nunito;
    font-weight: 700;
    font-size: 2em;
    color: #4A90E2;
    text-align: center;
    margin: 0;
}*/

a {
	text-decoration: none;
}

/*HOVER STATUS STYLING*/
/*
a:link, a:visited, a:hover, a:active {
	text-decoration: none !important;
	text-decoration-color: rgba(0,0,0,0) !important; 
}

.CTA:hover {
	text-decoration: none;
	border: 4px solid #4A90E2;
	border-radius: 5px;
	width: 250px;
	margin: 60px auto;
	padding: 15px;
	background-color: #4A90E2
	/*color: white;*/
}

/*.CTA:hover h3 {
	text-decoration: none;
	text-transform: none;
	color: white;
}
*/
/*CARD VALUE PROPS*/

.row {
	height: 400px;
	margin: 60px auto;
	/*background-color: red;*/
}

.col-6 {
	height: auto;
	border-radius: 5px;
	padding-top: 10px;
	margin: 0 auto;
	display: inline-block;
}

#colOne {
	background-color: #44BBA4;
	width: 30%;
	margin-right: 1%;
	margin-left: 3%;
	border-bottom: solid 6px #297364;


}

#colTwo {
	background-color: #4A90E2;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	border-bottom: solid 6px #155196;
}

#colThree {
	background-color: #A14EBF;
	width: 30%;
	margin-left: 1%;
	border-bottom: solid 6px #5C2E6D;
}


.row h2 {
	font-family: Nunito;
	font-weight: 700;
	color: white;
	font-size: 2.5em;
	padding-left: 15px;
	margin-top: 30px;
}

.row p {
	font-family: Nunito;
    font-weight: 300;
    font-size: 1.2em;
    color: #393E41;
    text-align: left;
    width: 90%;
    color: white;
    margin-left: 15px;
    opacity: 0.9;
    /*background-color: yellow;*/
    padding-bottom: 10px;
    /*display: block;*/
}

.vpHeader {
	width: 70%;
}

.bodyText {
	margin-bottom: 10%;
	height: 230px;
	/*background-color: orange;*/
}

span {
	opacity: 0.5;
}

/*SUB PROP QUOTES*/


#propOne > .fa-quote-left {
    color: rgba(68,187,164,0.3);

}

.subProp {
	width: 100%;
	margin-top: 10px;
	float: left;
	clear: both;
	margin-bottom: 50px;

}

.subProp h2 {
	margin-top: 10px;
	font-family: Nunito;
    font-weight: 700;
    font-size: 3.5em;
    text-align: left;
}

.subProp p {
	font-family: Nunito;
    font-weight: 300;
    font-size: 1.5em;
    color: #393E41;
    text-align: left;
    /*margin: 0;*/
}

.artwork {
	width: 50%;
	float: left;
	margin-top: 30px;
}

.artwork img {
	display: block;
	width: 250px;
	margin: 0 auto;
}

#propOne {
	width: 50%;
	float: left;
	/*margin-right: 50px;*/
}

#propTwo {
	width: 50%;
	float: right;
}

#propThree {
	width: 50%;
	float: left;
	/*margin-right: 30px;*/
}

#propOne h2 {
	color: #44BBA4;
}


#propTwo h2 {
	color: #4A90E2;
}

#propThree h2 {
	color: #A14EBF;
}

#propTwo > .fa-quote-left {
    color: rgba(74,144,226,0.3);

}

#propThree > .fa-quote-left {
    color: rgba(161,78,191,0.3);

}

#bottomCTA {
	margin-top: 30px;
	margin-bottom: 80px;
}

.footer {
	width: 100%;
	height: 120px;
	padding: 8px;
	background-color: #f5f5f5;
	margin-top: 50px;
}

.footerText {
	float: left;
	width: 40%;
    margin-top: 20px;
    margin-left: 30px;
}

.footerText h3 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
    color: #a6a8aa;
    opacity: 0.9;
    margin: 0;
}

#bottom {
	margin-top: 20px;
	margin-right: 40px;
	border: 4px solid #a6a8aa;
	float: right;
}

#bottom h6 {
	color: #a6a8aa;
}

.fa-lg {
	color: #a6a8aa;
	margin-top: 5px;
}

.fa-linkedin {
	margin-left: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~`RESPONSIVE~~~~~~~~~~~~~~~~~~~~~~~~`*/

/*FIRST BREAK*/
@media only screen and (max-width: 1400px) {
    body {
    	/*background-color: green !important;*/
    }

    .valueProp h1 {
        font-size: 4.5em;
    }

/*    .artwork img {
	width: 275px;
	margin: 40px 50px;
}*/

.subProp h2 {
	margin-top: 10px;
    font-size: 2.8em;
}

.subProp p {
    font-size: 1.3em;
}
}

/*TABLET BREAK*/

@media only screen and (max-width: 1012px) {

body {
	/*background-color: orange !important;*/
}

.logo {
	border: 3px solid #393E41;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 6px;
	margin-top: 40px;
	border-radius: 4px;
	width: 150px;
}

.logo h6 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.5em;
    color: #393E41;
    line-height: 0.3;
    padding: 0px;
    margin: 0px;

}

#bottomLogo {
	margin-top: 12px;
}

.valueProp {
	width: 100%;
	margin-top: 40px;
}

.valueProp h1 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 4em;
    color: #393E41;
    line-height: 0.9;
}

.CTA {
	border: 2px solid #4A90E2;
	border-radius: 3px;
	width: 250px;
	margin: 40px auto;
	padding: 10px;
	text-decoration: none;
}

a {
	text-decoration: none;

}

a:hover {
	text-decoration: none;
}

.CTA:hover {
	border: 2px solid #4A90E2;
	border-radius: 3px;
	width: 250px;
	margin: 40px auto;
	padding: 10px;
	text-decoration: none;
	background-color: #4A90E2
	/*text-color: white;*/
}

.CTA h3 {
	text-decoration: none;
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.5em;
    color: #4A90E2;
    text-align: center;
    margin: 0;
}

.fa-quote-left {
	width: 25px !important;
}

#propOne > .fa-quote-left {
    color: rgba(68,187,164,0.3);

}

.wrapper {
	padding: 0px;
}

.subProp {
	width: 100%;
	margin-top: 10px;
	float: left;
	clear: both;
	margin-bottom: 30px;

}

#propOne {
	width: 50%;
	float: left;
	margin-right: 0px;
	margin-right: 65px;
}

.subProp h2 {
	margin-top: 10px;
	font-family: Nunito;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
}

.subProp p {
	font-family: Nunito;
    font-weight: 300;
    font-size: 1.2em;
    color: #393E41;
    text-align: left;
    /*margin: 0;*/
}

.artwork {
	margin: 60px auto;
	width: 30%;
	float: left;
}

.artwork img {
	display: block;
	width: 200px;
	margin: 0 auto;
}


#propTwo {
	width: 50%;
	margin-right: 65px;
	float: left;
}

#propOne h2 {
	color: #44BBA4;
}


#propTwo h2 {
	color: #4A90E2;
}

#propThree h2 {
	color: #A14EBF;
}

#propTwo > .fa-quote-left {
    color: rgba(74,144,226,0.3);

}

#propThree > .fa-quote-left {
    color: rgba(161,78,191,0.3);

}

#propThree {
	width: 50%;
	float: left;
	margin-right: 65px;
}

.row {
	height: auto !important;
	margin-bottom: 20px;
	/*background-color: red;*/
}

.col-md-4 {
	/*height: auto !important;*/
	padding-top: 5px;
}

#colOne {
	width: 90%;
	margin-left: 2%;
	margin-bottom: 5%;

}

#colTwo {
	width: 45%;
	margin-left: 2%;
	margin-bottom: 5%;
}

#colThree {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.row h2 {
	font-size: 2.2em;
	padding-left: 15px;
	margin-top: 20px;
}

.row p {
    font-size: 1.2em;
    width: 85%;
    color: white;
    margin-left: 15px;
    opacity: 0.8;
    padding-bottom: 5px;
    /*background-color: yellow;*/
}


}

/*MOBILE BREAK*/

@media only screen and (max-width: 750px) {

body {
	/*background-color: red !important;*/
}

.logo {
	border: 3px solid #393E41;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 6px;
	margin-top: 40px;
	border-radius: 4px;
	width: 150px;
}

.logo h6 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.5em;
    color: #393E41;
    line-height: 0.3;
    padding: 0px;
    margin: 0px;

}

#bottomLogo {
	margin-top: 12px;
}

.valueProp {
	width: 100%;
	margin-top: 40px;
}

.valueProp h1 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 3em;
    color: #393E41;
    line-height: 0.9;
}

.CTA {
	border: 2px solid #4A90E2;
	border-radius: 3px;
	width: 50%;
	margin: 40px auto;
	padding: 10px;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.CTA:hover {
	border: 2px solid #4A90E2;
	border-radius: 3px;
	width: 50%;
	margin: 40px auto;
	padding: 10px;
	text-decoration: none;
	background-color: #4A90E2
	/*text-color: white;*/
}

.CTA h3 {
	text-decoration: none;
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.5em;
    color: #4A90E2;
    text-align: center;
    margin: 0;
}

.fa-quote-left {
	width: 25px !important;
}

#propOne > .fa-quote-left {
    color: rgba(68,187,164,0.3);

}

.wrapper {
	padding: 0px;
	/*background-color: red;*/
}

.subProp {
	width: 100%;
	margin-top: 10px;
	float: left;
	clear: both;
	margin-bottom: 30px;

}

#propOne {
	width: 100%;
	float: left;
	/*margin-right: 20px;*/
}

.subProp h2 {
	margin-top: 10px;
	font-family: Nunito;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
}

.subProp p {
	font-family: Nunito;
    font-weight: 300;
    font-size: 1.2em;
    color: #393E41;
    text-align: left;
    margin-bottom: 40px;
}

.artwork {
	margin: 0 auto;
	width: 80%;
	float: none;
}

.artwork img {
	display: block;
	width: 150px;
	margin: 15px auto 0px auto;
}


#propTwo {
	width: 100%;
	float: left;
}

#propOne h2 {
	color: #44BBA4;
}


#propTwo h2 {
	color: #4A90E2;
}

#propThree h2 {
	color: #A14EBF;
}

#propTwo > .fa-quote-left {
    color: rgba(74,144,226,0.3);

}

#propThree > .fa-quote-left {
    color: rgba(161,78,191,0.3);

}

#propThree {
	width: 100%;
	float: left;
	/*margin-right: 30px;*/
}

.row {
	height: auto !important;
	margin-bottom: 20px;
	/*background-color: yellow;*/
}

.col-6 {
	height: auto;
	padding-top: 5px;
}

.bodyText {
	margin-bottom: 5%;
	height: 210px;
	/*background-color: orange;*/
}

#colOne {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;

}

#colTwo {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#colThree {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.row h2 {
	font-size: 2.2em;
	padding-left: 15px;
	margin-top: 20px;
}

.row p {
    font-size: 1.2em;
    width: 87%;
    color: white;
    margin-left: 15px;
    opacity: 0.8;
    padding-bottom: 5px;
    /*background-color: yellow;*/
}

.footer {
	width: 100%;
	height: 120px;
	padding: 8px;
	background-color: #f5f5f5;
	margin-top: 50px;
}

.footerText {
	float: left;
	width: 40%;
    margin-top: 20px;
    margin-left: 20px;
}

.footerText h3 {
	font-family: Nunito;
    font-weight: 700;
    font-size: 1.0em;
    text-align: left;
    color: #a6a8aa;
    opacity: 0.9;
    margin: 0;
}

#bottom {
	margin-top: 20px;
	margin-right: 20px;
	border: 4px solid #a6a8aa;
	float: right;
}

#bottom h6 {
	color: #a6a8aa;
}

.fa-lg {
	color: #a6a8aa;
	margin-top: 5px;
}

.fa-linkedin {
	margin-left: 5px;
}



}
